.over-flow-atras{
    position: absolute;
    font-weight: 800;
    transform: translateY(-50%); 
    font-size:70px; 
    color: var(--gray-color);
}

.mission{
    margin-bottom: 6%;
}

.bg-card{
    background-color: var(--secondary-bg-color);
}

.about-card{
    background-color: var(--white-color);
}

.textAbout{
    padding:15% 10% 0 10%;
    color: var(--secondary-bg-color);
    text-align: justify;
}

.card{
    border: none;
    border-radius: 10px;
}

.card-img-top{
    width: 100px;
    height: 100px;
    object-fit: cover; 
}

.card-body, .card-footer{
    background-color: var(--secondary-bg-color);
    
}

.text-warning{
    color: var(--orange-color) !important;
}