/*Css padrão para toda a aplicação*/
:root {
    --primary-bg-color: #080707; 
    --secondary-bg-color: #0D0D0D; 
    --orange-color: #FF6100; 
    --white-color:#FFF;
}

*{
    font-family: 'Poppins', sans-serif;
}

.body {
    background-color: var(--primary-bg-color); 
    color: var(--white-color);
    padding-top: 56px;
}

.navbar {
    background-color: var(--primary-bg-color);
    box-shadow: 0 1px 8px rgb(0, 0, 0);
}

.navbar .btn-outline-light {
    margin-right: 10px; 
}

.footer .footer-link{
    color: #939393;
    text-decoration: none;
}

.footer .footer-link:hover {
    color: var(--white-color); 
}

.btn-block{
    width: 100%;
    margin-top: 5%;
    font-size: medium;
}