/* fonts */
/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* URBANIST */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* COMPONENTS */
@import url('./components/button/buttonComponent.css');
@import url('./components/text/textComponent.css');
@import url('./components/banner/spotBanner.css');
@import url('./components/banner/spotSubscribeBanner.css');
@import url('./components/selector/bt-selector.css');
@import url('./components/label/label.css');
@import url('./components/text/title.css');


/*Css padrão para toda a aplicação*/
:root {
    --primary-bg-color: #080707; 
    --secondary-bg-color: #0D0D0D; 
    --secondary-bg-broom-effect-adjustment: #2c2c2c; 
    --gray-color:#cccccc3d;
    --light-gray-color:#a0a0a0;
    --orange-color: #FF6100; 
    --orange-color-broom-effect-adjustment: #e45700; 
    --blue-color: #0D6EFD;
    --blue-color-broom-effect-adjustment: #0649ac; 
    --white-color:#FFF;

    --green-color: #38A860;

    --dark-orange-color: #983419;
    --dark-orange-color-broom-effect-adjustment: #521415;


    --swiper-pagination-bullet-inactive-color: white;
    
    /* Broom Color hsl adjustment
        saturation:  -12%,
        hue: - 14deg,
        lightness: -15% 
    */
}

*{
    font-family: 'Poppins', sans-serif;
}

.body {
    background-color: var(--primary-bg-color); 
    color: var(--white-color);
    padding-top: 90px;
}

.navbar {
    background-color: var(--primary-bg-color);
    box-shadow: 0 1px 8px rgb(0, 0, 0);
}

.navbar .btn-outline-light {
    margin-right: 10px; 
}

.btn-danger{
    background-color:var(--orange-color);
}

.btn-danger:hover{
    background-color:var(--orange-color-broom-effect-adjustment);
}

.footer .footer-link{
    color: #939393;
    text-decoration: none;
}

.footer .footer-link:hover {
    color: var(--white-color); 
}

.btn-block{
    width: 100%;
    margin-top: 5%;
    font-size: medium;
}

.text-subtitle{
    color: #707070;
}

.btn-orange{
    background-color: var(--orange-color);
}

.btn-orange:hover{
    background-color: var(--orange-color-broom-effect-adjustment);
}

@media (min-width: 992px) { 
    body {
        padding-top: 56px;
    }
}
