.over-flow-atras{
    position: absolute;
    top: 70px;
    font-weight: 800;
    font-size: 65px;
    color: var(--gray-color);
}

.form-control{
    background-color: transparent;
    color: var(--white-color);
    font-size: small;
}

.form-control:focus {
    background-color: var(--secondary-bg-color);
    color: var(--white-color);
    font-size: small;
}

.email{
    color: var(--orange-color);
}

.linkSignUp{
    text-decoration: none;
    color: var(--orange-color);
}