.over-flow-atras{
    position: absolute;
    font-weight: 800;
    transform: translateY(-50%); 
    font-size:60px; 
    color: var(--gray-color);
}

.form-control{
    background-color: transparent;

    font-size: small;
}

.form-control:focus {
    background-color: var(--secondary-bg-color);
    color: var(--white-color);
    font-size: small;
}

.img-perfil{
    width: 200px;
    height: 200px;
    object-fit: cover; 
}

.name{
    color: white;
    font-size: 25px;
    border: none;
    text-align: center;
}


.card{
    background-color: var(--secondary-bg-color);
    border: none;
}

.btn-view{
    background-color: var(--orange-color);
    border-color: var(--orange-color);
}

.btn-view:hover{
    background-color: var(--orange-color-broom-effect-adjustment);
    border-color: var(--orange-color-broom-effect-adjustment);
}

i{
    display: flex;
    align-items: center;
    height: 100%;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

.notification{
    background: #4b4b4b;
    padding: 10px;
    border-radius: 7px;
}

#show_schedules_content{
    padding: 40px;
}

.notification{
    margin-bottom: 10px;
}

.notification-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid white;
}

.notification-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-buttons-container{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}