.over-flow-atras{
    position: absolute;
    font-weight: 800;
    transform: translateY(-50%); 
    font-size:60px; 
    color: var(--gray-color);
}

.form-control{
    background-color: transparent;

    font-size: small;
}

.form-control:focus {
    background-color: var(--secondary-bg-color);
    color: var(--white-color);
    font-size: small;
}

.name{
    color: white;
    font-size: 25px;
    border: none;
    text-align: center;
}

.consultancies{
    color: var(--orange-color);
}

.card{
    background-color: var(--secondary-bg-color);
    border: none;
}

.btn-view{
    background-color: var(--orange-color);
    border-color: var(--orange-color);
}

.btn-view:hover{
    background-color: var(--orange-color-broom-effect-adjustment);
    border-color: var(--orange-color-broom-effect-adjustment);
}

i{
    display: flex;
    align-items: center;
    height: 100%;
}