.over-flow-atras{
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    font-weight: 800;
    font-size: 80px;
    color: var(--gray-color);
}

.form-control{
    background-color: transparent;
    color: var(--white-color);
    font-size: small;
}

.form-control:focus {
    background-color: var(--secondary-bg-color);
    color: var(--white-color);
    font-size: small;
}

.btn-block{
    width: 100%;
    margin-top: 5%;
    font-size: medium;
}

.link{
    display: flex;
    justify-content: center; 
}

.linkSignIn{
    text-decoration: none;
    color: var(--orange-color);
}


.login-container {
    display: flex;
    align-items: center;
}

.login-title {
    margin-right: auto; /* Empurra o título para a esquerda */
}

.login-icon {
    margin-left: 10px; /* Espaçamento entre o título e o ícone */
}
