#ServiceHeadingSection {
    margin-top: 20px;
}

#ServiceHeadingSection *:not(i) {
    font-family: 'Roboto', sans-serif;
}

.service-header--container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-header--lables-contaiers {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.service-header--lables-contaiers label {
    font-size: 13px;
    font-weight: 500;
}

.service-page--service-title {
    font-weight: 700;
}

.professional-service-slider--container {
    width: 100%;
    position: relative;
    z-index: 1;
}

.professional-service-slider--button-next i,
.professional-service-slider--button-prev i {
    color: #fff;
}

.professional-service-slider--button-next,
.professional-service-slider--button-prev {
    opacity: 0;
    transition: opacity .6s ease;
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(37, 37, 37, 0.378);
    width: 100px;
    position: absolute;
    width: 50px;
    height: 100%;
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.professional-service-slider--container:hover .professional-service-slider--button-next,
.professional-service-slider--container:hover .professional-service-slider--button-prev {
    opacity: 1;
}

.professional-service-slider--button-next {
    right: 0;
}

.professional-service-slider--button-prev {
    left: 0;
}

.professional-service-slider--item img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.professional-service-slider--pagination {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    gap: 8px;
}

.swiper-pagination-bullet:not([aria-current="true"]) {
    background: #fff !important;
    opacity: 0.6;
}

.professional-service-info--container {
    margin-top: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.professional-service-info--social-media-container {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    justify-content: space-evenly;
    border-radius: 19px;
    padding: 14px 0;
}

.professional-service-info--features-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.professional-service-info--feature-item {
    display: flex;
    flex-direction: row;
}

.professional-service-feature-item--feature-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0;
    width: 184px;
}

.professional-service-feature--name {
    font-weight: 700;
    color: #7F8085;
    margin: 0;
}

.professional-service-feature--intensity-container {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
}

.professional-service-feature--intensity-text {
    color: #EBEBED;
    font-weight: 700;
    text-align: start;
}

.professional-service-info--text-description {
    color: #EBEBED;
    margin: 0;
    text-align: justify;
}

.professional-service-info--contact-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.professional-service-info--contact-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.professional-service-info--contact-text {
    color: #7F8085;
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}

.professional-service-info--chat-action-container,
.professional-service-info--chat-action-container form,
.professional-service-info--chat-action-container form button {
    width: 100% !important;
}

.fp-description-title-area {
    margin-top: 50px;
}

.fp-description-text {
    color: #fff;
    font-weight: 400;
    text-align: justify;
}

.plan-price h6 {
    font-size: 20px;
    color: var(--blue-color);
    font-weight: bold
}

.plan-price small {
    color: var(--light-gray-color);
}

.professional-card .card-text {
    font-size: 14px;
}

@media (min-width: 768px) {
    .swiper-slide {
        height: 500px;
    }

    .professional-service-info--container {
        max-width: 340px;
        margin: 0 auto;
    }
}

/* CATEGORIES SECTION */

.lp-categories-swiper {
    width: 100%;
    height: 100%;
}

.lp-swiper-slide--item-container {
    padding: 40px 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.lp-swiper-slide--item-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 24px;
}

.lp-swiper-slide--item-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    margin-top: 8px;
}

.lp-categories-swiper--item.primary .lp-swiper-slide--item-text {
    color: rgba(255, 255, 255, 1);
}

.lp-swiper-slide--item-icon {
    height: 32px;
    object-fit: contain;
}

.lp-categories-swiper--item a {
    text-decoration: none;
}

.lp-categories-swiper--item {
    border-radius: 12px;
    background-color: #0D0D0D;
}

.lp-categories-swiper--item.primary {
    background-color: var(--blue-color);
}

.lp-control-swiper-categorie-button i {
    color: #fff;
}

.lp-control-swiper-categorie-button-next {
    right: 0;
    left: auto;
}

.lp-control-swiper-categorie-button-prev {
    left: 0;
    right: auto;
}

.lp-control-swiper-categorie-button {
    background: rgba(37, 37, 37, 0.378);
    width: 100px;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plans-swiper .swiper-slide {
    width: 380px;
    height: 100%;
}

.lp-landing-title-watermark {
    font-family: 'Urbanist', sans-serif;
    font-size: 87px;
    color: rgba(255, 255, 255, .11);
    position: absolute;
    left: -26px;
    font-weight: 800;
    transform: translateY(-50%);
    display: none;
}

.lp-categories-slider-row {
    margin-top: 50px;
    max-height: 50vh;
}

.rating-icon{
    font-size: 25px;
    cursor: pointer;
}

.rating-icon.checked, .rated-icon.checked, .rating-icon:hover{
    color: yellow;
}

.rating_desc{
    max-width: 600px;
    margin-top: 20px;
    height: 100px;
}

.large-number{
    font-size: 30px;
    font-weight: bold;
}

.rated-icon{
    font-size: 16px;
}

.rated-container{
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rated-container .qnt-rated{
    font-size: 13px;
    color: var(--light-gray-color);
}

.user-ratings{
    max-width: 600px;
    margin-top: 20px;
}

.user-rating{
    margin-bottom: 40px;
}

.user-rating .user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-rating .user-name{
    font-size: 14px;
    font-weight: 600;
}

.user-rating .user-photo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.user-rating .more-options{
    margin-left: auto;
    font-size: 14px;
    cursor: pointer;
}

.user-rating .user-star{
    display: inline-block;
}

.user-rating .user-star i{
    display: inline-block;
    font-size: 9px;
}

.user-rating .user-rating-date{
    color: var(--light-gray-color);
    font-size: 9px;
    margin-left: 4px;
}

.user-rating .user-comment{
    font-size: 14px;
    font-weight: normal;
}